.action-bar {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid black;
}

.action-bar > a {
    padding: 8px 12px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
    border: 1px solid transparent;
}

.action-bar > a:hover {
    border-color: black;
}
