html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* prevent page scroll */
}

.dashboard-content-wrapper {
    display: flex;
    flex-direction: column;
    height: 99vh;
}

.dashboard-data {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.dashboard-data > div {
    padding: 10px 0;
    border: 1px solid black;
    width: 80%;
    text-align: center; /*TODO - remove when single pages have been implemented */
}


.dashboard-top-bar .dashboard-action-bar {
    flex-shrink: 0;
}