.stats-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.stat-item {
    padding: 0 40px;
    border: 1px solid var(--border-color);
}

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
