.prediction-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.prediction-item {
    flex: 1;
    margin: 5px;
}

.prediction-item b {
    display: block;
    font-size: 1.1rem;
    margin-bottom: 2px;
}

.prediction-item p {
    margin: 0;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #666;
}