.prediction-wrapper {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 10px;
}

.prediction-item {
    flex: 1;
    text-align: center;
    padding: 15px;
    border: 2px solid var(--border-color);
    background: var(--surface-color);
}

.prediction-item.menstruation {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.prediction-item.ovulation {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.prediction-item b {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 5px;
    font-weight: 800;
    text-transform: uppercase;
}

.prediction-item p {
    margin: 0;
    font-size: 0.9rem;
    font-weight: 700;
    text-transform: uppercase;
}
