.top-bar {
    display: flex;
    justify-content: flex-end;
    /* Align settings to the right */
    padding: 5px 10px;
    margin: 0 0 5px 0;
}

.top-bar>div {
    padding: 8px 12px;
    text-align: center;
}