.highlight-menstruation {
    background-color : pink;
}

.highlight-ovulation {
    background-color : green;
}

.calendar-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-evenly;
}