{% extends "base.html" %}

{% block title %}Guest mode{% endblock title %}

{% block content %}
    <div class="container">
        
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Send</button>
        </form>

        {% if predictions %}
            <div class="prediction_table">
                {% include "cycle_core/prediction_table.html" %}
            </div>
        {% endif %}

        {% if calendars %}
            <div class="calendars">
                {% include "calendar_core/calendars.html" %}
            </div>
        {% endif %}
    </div>
{% endblock content %}