{% extends "base.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href={% static "dashboard/css/dashboard.css" %}>
{% endblock extra_head %}
{% block title %}Dashboard{% endblock title %}

{% block content %}
    <div class="dashboard-content-wrapper">
        {% include "dashboard/dashboard_topbar.html" %}

        <div class="dashboard-data">
            <section class="log-period-section"><a href="{% url "dashboard:add_period" %}">log period</a></section>
            <section class="add-symptoms-section"><a href="{% url "dashboard:add_log" %}">add symptoms</a></section>
            <section class="period-prediction">{% include "dashboard/next_prediction.html" %}</section>
            <section class="cycle-phases">current cycle phases</section>
            <section class="logs"><a href="{% url 'dashboard:logs_page' %}">logs</a></section>
        </div>

        <div class="dashboard-action-bar">
            {% include "dashboard/dashboard_actionbar.html" %}
        </div>
    </div>
{% endblock content %}