{% extends "base.html" %}

{% comment %} FIXME - rename this template {% endcomment %}

{% load static %}

{% block title %}Guest mode{% endblock title %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'guest_mode/css/show_form.css' %}">
    <link rel="stylesheet" href={% static "calendar_core/css/standard_calendar.css" %}>
{% endblock extra_head %}

{% block content %}
    <div class="container">
        
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Send</button>
        </form>

        {% if predictions %}
            <div class="prediction_table">
                {% include "cycle_core/prediction_table.html" %}
            </div>
        {% endif %}

        {% if calendars %}
            <div class="calendars">
                {% include "calendar_core/calendars.html" %}
            </div>
        {% endif %}
    </div>
{% endblock content %}