.container {
    display: grid;
    grid-template-areas: 
        "form prediction prediction"
        "cal cal cal"
    ;
}

form {
    border: 1px solid black;
    grid-area: form;
    
}

.prediction_table {
    border: 1px solid black;
    grid-area: prediction;

    display: flex;
    justify-content: space-evenly;
}

.calendars {
    border: 1px solid black;
    grid-area: cal;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}