{% extends "base.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href={% static "dashboard/css/add_log.css" %}>
{% endblock extra_head %}
{% block title %}Add Entry{% endblock title %}


{% block content %}
    <div class="add-entry-container">
        {% include "dashboard/subpage_topbar.html" %}
        
        {% if dl_form.errors or il_form.errors %}
            <div class="form-errors">
                <strong>Please correct the following errors:</strong>
                {% for field, errors in dl_form.errors.items %}
                    {% for error in errors %}
                        <div>{{ field|title }}: {{ error }}</div>
                    {% endfor %}
                {% endfor %}
                {% for field, errors in il_form.errors.items %}
                    {% for error in errors %}
                        <div>{{ field|title }}: {{ error }}</div>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <div class="sub-form dl-form">
                <h3>General data</h3>
                {% for field in dl_form %}
                    <div class="field-wrapper">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <div class="error-message">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

            <div class="sub-form il-form">
                <h3>Intercourse</h3>
                {% for field in il_form %}
                    <div class="field-wrapper">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <div class="error-message">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

            <button type="submit">Save</button>
        </form>
    </div>
{% endblock content %}